<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Blog IA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Alternar menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
                <li class="nav-item"><a class="nav-link active" href="/about">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contato</a></li>
                <li class="nav-item"><a class="nav-link" href="/posts">Posts</a></li>
                <% if (user) { %>
                    <li class="nav-item"><a class="nav-link" href="/profile">Perfil (<%= user.nome %>)</a></li>
                    <li class="nav-item"><a class="nav-link text-danger" href="/logout">Sair</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Cadastrar</a></li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>